.tw-followcard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
    justify-content: space-between;
}

.tw-followcard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followcard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followcard-info {
    display: flex;
    flex-direction: column;
}

.tw-followcard-infoUserName {
    opacity: 0.6;
}

.tw-followcard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: 0.3s ease background-color;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 16px;
}